# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh
/.husky/                                        @fuxingloh
/.idea/                                         @fuxingloh

/packages/                                      @fuxingloh
/packages/playground-api-client/                @fuxingloh @canonbrother @thedoublejay @ivan-zynesis

/src/                                           @fuxingloh
/src/module.api/                                @fuxingloh @canonbrother @thedoublejay @ivan-zynesis
/src/module.defid/                              @fuxingloh
/src/module.health/                             @fuxingloh
/src/module.playground/                         @fuxingloh @canonbrother @thedoublejay @ivan-zynesis

lerna.json                                      @fuxingloh @canonbrother
tsconfig.json                                   @fuxingloh @canonbrother
jest.config.js                                  @fuxingloh @canonbrother
package.json                                    @fuxingloh
package-lock.json                               @fuxingloh

CONTRIBUTING.md                                 @fuxingloh @canonbrother
README.md                                       @fuxingloh
LICENSE                                         @fuxingloh
